
.list__img svg{
  width: 30px;
  height: 30px;
  color: #fff;
}

.list__info-h2{
  color: #fff;
}

.block__infoWrapper{
  padding: 10px;
  margin-left: 30px;
  border-radius: 10px;
  background-color: #FFF;
  width: 300px;
  z-index: 300;
}

.block__title{
  color: black;
  text-align: center;
}

.block__company{
  text-align: right;
}

.block__duties{
  font-size: 16px;
}

.block__dates{
  text-align: right;
}

.wrapper__blocks{
  display: flex;
  align-items: flex-start;
}



.block-color{
  background-color: #8a9af8;
}

.active-btn{
  background-color: #586FF6;
}